@charset "ISO-8859-1";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	background-color: #eeeeee;
}

/*header*/

header{
	display: flex;
	justify-content: center;		
}

.container{	
	display: flex;
	justify-content: space-between;
	width: 1024px;				
}

.header{
	margin-bottom: 50px;
}

.logomarca{
	
	
}

.container .titulo{	
	
	
	

}

.container .menu{	
	
	
	
	

}


.container .menu a{		
	text-decoration: none;
	margin-right: 15px;
}


#msg{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	
	
}

#msg .container{
	display: flex;
	flex-direction: column;	
	justify-content: center;
	
}

.msg{
	display: flex;
	justify-content: center;
	align-items: center;		
	color: red;	
}


@media (max-width:600px){
	
}

/*header*/


/*section id="form"*/

#form{
	display: flex;	
	justify-content: center;	
}

#form .container{
	justify-content: center;
}

.container .divForm{
	
	
	
	
}

.divForm formUsuario{
	
	
}

.formUsuario label{
	font-size: 18px;
}

.formUsuario input{
	border: 0;
	width: 300px;
	height: 25px;
}

.formUsuario input[type=submit]{
	display: inline-block;
	justify-content: center;
	font-size: 25px;
	width: 49.5%;
	height: auto;
	color: #ffffff;
	border-radius: 20px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: gray;	
    padding: 8px 15px 8px 15px;
    border: none;
    margin-top: 15px;
       
}

.submit{
	
	
}

.formUsuario input[type=text]:focus,
.formUsuario input[type=password]:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;	 
}

.formUsuario input[type=submit]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}


@media (max-width:600px){
	
	
	
	.formUsuario input[type=submit]{
	
	
	font-size: 25px;
	width: 100%;
	height: auto;
	color: red;
	border-radius: 20px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: gray;	
    /*padding: 8px 15px 8px 15px;*/
    border: none;
    }
	
	
	
}


/*section id="form"*/




/*section id="tableClientes"*/

#tableClientes{
	display: flex;	
	justify-content: center;
}

.container .tabela{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
}
@media (min-width: 48em) {
  .responsive-table {
    font-size: .9em;
  }
}
@media (min-width: 62em) {
  .responsive-table {
    font-size: 1em;
  }
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
@media (min-width: 48em) {
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}
.responsive-table thead th {
  background-color: #1d96b2;
  border: 1px solid #1d96b2;
  font-weight: normal;
  text-align: center;
  color: white;
}
.responsive-table thead th:first-of-type {
  text-align: left;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: center;
  white-space: normal;
}
@media (min-width: 48em) {
  .responsive-table tr {
    display: table-row;
  }
}
.responsive-table th,
.responsive-table td {
  padding: .5em;
  vertical-align: middle;
}
@media (min-width: 30em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 48em) {
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: .5em;
  }
}
@media (min-width: 62em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 75em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em;
  }
}
.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 48em) {
  .responsive-table caption {
    font-size: 1.5em;
  }
}

.responsive-table a{
	text-decoration: none;
}

.responsive-table a:visited{
	color: blue;
}

.responsive-table a:hover{
	color: red;
}



.responsive-table tfoot {
  font-size: .8em;
  font-style: italic;
}
@media (min-width: 62em) {
  .responsive-table tfoot {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody {
    display: table-row-group;
  }
}
.responsive-table tbody tr {
  margin-bottom: 1em;
  border: 2px solid #1d96b2;
}
@media (min-width: 48em) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}
.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .responsive-table tbody tr:nth-of-type(even) {
    background-color: rgba(94, 93, 82, 0.1);
  }
}
.responsive-table tbody th[scope="row"] {
  background-color: #1d96b2;
  color: white;
}
@media (min-width: 48em) {
  .responsive-table tbody th[scope="row"] {
    background-color: transparent;
    color: #5e5d52;
    text-align: left;
  }
}
.responsive-table tbody td {
  text-align: right;
}
@media (min-width: 30em) {
  .responsive-table tbody td {
    border-bottom: 1px solid #1d96b2;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td {
    text-align: center;
  }
}
.responsive-table tbody td[data-type=currency] {
  text-align: right;
}
.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: .8em;
  color: rgba(94, 93, 82, 0.75);
}
@media (min-width: 30em) {
  .responsive-table tbody td[data-title]:before {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td[data-title]:before {
    content: none;
  }



/*section id="tableClientes"*/